@model CourseManger.Models.Classes
@using CourseManger.Models

@{
    ViewBag.Title = "Details";
    var Teachers = (List<Teachers>)ViewBag.teachers;
}

<h2>Details</h2>

<fieldset>
    <legend>Classes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherId)
         <select name="teacherid" class="form-model">
                @foreach (var teacher in Teachers){
                    <option value="@teacher.Id">@teacher.Name</option>
                }
                </select>
    </div>
    <div class="display-field">

        @Html.DisplayFor(model => model.TeacherId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
